.auth-form {
    width: 32rem;
    height: 100dvh;
    margin: auto;
    padding: 0 min(5rem, 8%);
    position: relative;

    h1 {
        margin-bottom: 2.5rem;
    }

}

.loading_indicator {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 235, 235, 0.6);
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        button {
            border-radius: 10px;
        }
    }
}