<div class="ml-[min(7rem,3%)]">
    <button class="menu" mat-icon-button (click)="toggleDrawer.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-dasharray="16" stroke-dashoffset="16" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2">
                <path d="M5 5h14">
                    <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="16;0" />
                </path>
                <path d="M5 12h14">
                    <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.2s" dur="0.2s" values="16;0" />
                </path>
                <path d="M5 19h14">
                    <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.4s" dur="0.2s" values="16;0" />
                </path>
            </g>
        </svg>
    </button>
    <!-- <div>
        <img src="/app-icon.png" alt="application icon" width="35px">
    </div> -->
    <nav>
        <a routerLink="catalogue" matButton="text">Catalogue</a>
    </nav>
</div>
<div class="actions">
    <a mat-icon-button routerLink="/cart" *isAuth>
        <mat-icon matBadge="1" matBadgeSize="small" aria-hidden="false" [matBadgeHidden]="badgeHidden()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z" />
            </svg>
        </mat-icon>
    </a>
    <notification *isAuth></notification>
    @if (authUserStore.isAuthenticated()) {
    <button class="profile-photo" [matMenuTriggerFor]="menu">
        <img src="profile-photo.png" alt="">
    </button>
    <mat-menu #menu="matMenu">
        <a routerLink="/dashboard/profile" mat-menu-item>Profile</a>
        <ng-content></ng-content>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    }
    @else {
    <a routerLink="/auth" matButton="tonal">Log in</a>
    }
</div>