:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    border-radius: 10px;

    background-color: var(--mat-sys-surface);

    div {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    img {
        width: 3rem;
        height: auto;
        aspect-ratio: 1;
        object-fit: contain;
    }

    nav a {
        margin: 0 10px;
        color: var(--mat-sys-on-surface);
    }

    .profile-photo {
        margin: 0;
        padding: 0;
        border: none;
        display: flex;
        border-radius: 100%;
        overflow: hidden;
    }

    .profile-photo img {
        width: 3rem;
        height: auto;
        aspect-ratio: 1;
        object-fit: cover;
        cursor: pointer;
    }

    .profile-photo {
        background: none;
        filter: invert(var(--invert-value));
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: min(7rem, 3%);
    }
}