.home {
    position: fixed;
    width: 100%;
    background-image: url('/wave.svg');
    background-repeat: no-repeat;
}

section {
    height: 100dvh;
    overflow: auto;
    scrollbar-width: none;
    display: block;
}