section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(300px, 1fr));
    gap: 45px;
    justify-content: center;
}

.card-item {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 0.75rem;
    transition: all 300ms;
    transform-origin: center;
}

.card-item:hover {
    transform: scale(1.05);
    border-color: #dbeafe;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}