.app-drawer {
    height: 100dvh;

    .toggle_button_container {
        display: flex;
        justify-content: end;
        padding: 20px;
        margin-bottom: -50px;
    }

    .dashboard {
        display: flex;
        flex-direction: column;
        height: 100%;

        .dashboard_item {
            margin: 10px;
        }

        .workbench {
            flex-grow: 2;
            padding: min(3rem, 8%);
        }
    }
}