.divider {
  padding: 0 15px;
  margin: 15px 0;
}

.link_profile {
  img {
    background: none;
    filter: invert(var(--invert-value));
  }
}

.log_out {
  border: none;
}

span {
  display: flex;
  justify-content: start;
}
